@use 'var' as *;

.navigation {
    
		&__list {
            display: none;
		}

		&__link {
		}

		&__button {
            display: block;
            width: 36px;
            height: 36px;
            background: url(/src/img/menu.svg) center/contain;

            @include lg {
                width: 50px;
                height: 50px;
            }

            &_active {
                background-image: url('/src/img/close.svg');
            }
		}
}