@use 'var' as *;

:root {
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  // position: relative;
  // overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: Mulish, sans-serif;
  font-weight: 300;
  background-color: $back;
  color: $main;
  line-height: 1.4;
  font-size: 16px;
}


img,
svg,
video {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

// svg {
//   max-height: 100%;
// }


button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

/*
Доступно скрываю элементы
*/

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  padding: 0 16px;
  margin: 0 auto;
}

.link-main {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 10px 20px;
  font-weight: 1000;
  font-size: 16px;
  line-height: 1;
  color: $back;
  background: $second;
  border-radius: 80px;

  &:after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background: url('/src/img/arrow-right.svg') center/contain no-repeat;
  }
}

