@use 'style/fonts';
@use 'style/var';
@use 'style/style';
@use 'style/header';
@use 'style/navigation';
@use 'style/hero';
@use 'style/footer';
@use 'style/about';
@use 'style/career.scss';
@import '~normalize.css';

